@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

a {
    text-decoration: none;
}

body {
    background-color: grey;
    font-family: "Exo 2", Segoe UI;
    margin: 0;
    padding: 0;
}

.formulario input {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    text-align: center;
    font-family: "Exo 2", Segoe UI;
}

.formulario button {
    margin: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: darkslateblue;
    font-family: "Exo 2", Segoe UI;
    cursor: pointer;
    margin-bottom: 10px;
}


.formulario .button h2{
    margin: 0;
}

select {
    border-radius: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    font-family: "Exo 2", Segoe UI;
    cursor: pointer;
}

/* _________________________Barra de navegação_________________________________ */

.div_nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#img_logo_nav {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 90px;
    
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 600px;
    margin-left: 450px;
    margin-right: -100px;
}

.linksLogin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 600px;
    margin-left: 450px;
    margin-right: -100px;
}

.link_nav {
    color: white;
    font-weight: bold;
    font-size: large;
}

/* ____________________________________Home______________________________________ */

.containerHome img{
    width: 100%;
}


/* .bannerHome #fundo{
    padding-top: 100px;
    width: 100%;
} */


.homeTodoPoderoso #banner{
    width: 50%;
    height: 500px;
    margin-top: 10px;   
}


.homeTodoPoderoso{
    background-image: url(imgs/fundoLogin.png);
    width: 100%;
    height: 1000px;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white; 
}

.containerHome{
    background-color: black;
}


.containerHome .sobreNos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    /* border-bottom: solid 3px white; */
    border-top: solid 3px white;
}

.sobreNos .div_texto{
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: left;
}

.containerHome .div_texto {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.containerHome p {
    font-size: 20px;
}

.containerHome .sobreNos .div_imagem img{
    width: 300px;
    border-radius: 20px;
    border: solid 2px white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sobreNos .div_imagenspai {
    height: 500px;
    border-radius: 20px;
    border: solid 2px white;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: space-around;
}


/* ______________________________________ELENCO________________________________________________ */

.beneficiosTitulo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}

.containerElenco {
    background-color: black !important;
}

.tituloElenco {
    padding-top: 150px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
    background-image: url(imgs/fundoLogin.png);
    height: 100px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
    display: flex;
    padding: 15px;
    align-items: center;
}


.card img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

.info {
    flex: 1;
}

.info h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.info p {
    margin: 5px 0;
    font-size: 14px;
}



/* __________________________________________Rodapé____________________________________________ */
.footer{
    color: black;
    background-color: white;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 150px;
}

.footer ul li img{
    width: 25px;
}

.footer .logo img{
    width: 40px;
}

.footer h4 {
    margin: 0;
}

.footer p {
    margin: 0;
}

.footer .contato{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    
}


/* _______________________________________Sobre Nós__________________________________________________________ */


.MVV .div_imagem img {
    width: auto;
    height: 280px;
    border-radius: 20px;
    border: solid 2px white;
    margin-bottom: 20px;
    margin-top: 20px;
}
.MVV .div_imagenspai img {
    height: 300px;
    border-radius: 20px;
    border: solid 2px white;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: space-around;
}


.containerSN .MVV {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid 3px white;
}


.containerSN .MVV .MVVConteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
}


.containerSN .MVV .div_texto{
    width: 600px;
}


.containerSN .MVV p {
    font-size: 20px;
}

.MVV2 {
    background-color: #808080; 
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.MVVConteudo2 {
    width: 50%;
    max-width: 1200px;
    color: white;
    text-align: center;
}

.div_texto2 h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: black;

}

.div_texto2 p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: black;
}

.div_imagenspai2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.div_imagenspai2 img {
    border-radius: 10px;
    object-fit: cover;
    border: solid 2px white;
}

/* Estilos específicos por ordem das imagens */
/* Técnica pesquisada na W3School */
.div_imagenspai2 img:nth-child(1),
.div_imagenspai2 img:nth-child(2) {
    width: 300px;
    height: 400px;
}

.div_imagenspai2 img:nth-child(3),
.div_imagenspai2 img:nth-child(4),
.div_imagenspai2 img:nth-child(5) {
    width: 400px;
    height: 250px;
}



/* __________________________________________Login_________________________________________________ */

.containerL {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    padding: 110px;
}

.containerL .box {
    width: 900px;
    height: fit-content;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    border: solid 2px white;
}

.containerL {
    background-color: black;
    background-image: url(imgs/fundoarenajogadores.png);
    width: auto;
    height: 500px;
    background-size: cover;
}

.containerL .box .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

}


/* __________________________________________________Cadastro__________________________________________________ */

.containerC {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    padding: 110px;
}

.containerC .box {
    width: 900px;
    height: min-content;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    border: solid 2px white;
}

.containerC {
    background-color: black;
    background-image: url(imgs/fundoarenajogadores.png);
    width: auto;
    height: 900px;
    background-size: cover;
}

.containerC .box .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


/* ________________________________________________Cadastro - Texto_________________________________________________ */

.div_nav_cadastro{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div_nav_cadastro .links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        width: 700px;
        margin-right: -70px;
        margin-top: 0;
}

.containerLCS #cadastroResposta {
    margin-bottom: 20px;
}


/* ____________________________________________QUIZ___________________________________________ */

.containerQUIZ {
    display: flex;
    justify-content: center;
    background-image: url(imgs/arenaporfora.png);
}

#btnIniciarQuiz{
    width: 200px;
    height: 50px;
    background-color: darkcyan;
    border-radius: 50px;
}

.pontuacaoEJogo {
    display: flex;
    width: 50%;
    height: 600px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
}

#pontuacao {
    width: 500px;
    height: 140px;
    margin-bottom: 30px;
    background: linear-gradient(to right, grey, white);
    border-radius: 10px;
}

#jogo {
    width: 500px;
    height: 350px;
    background: linear-gradient(to right, grey, white);
    border-radius: 10px;
}

#jogo button {
    background-color: darkcyan;
    width: auto;
    height: auto;
    border: 0px;
    border-radius: 40px;
    padding-top: 5px;
    margin: 2px;
}


.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
    
}

.border-primary {
    border: 4px solid white;
    
}

.border-secondary {
    border: 4px solid white;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}


/* ___________________________________CURIOSIDADES_____________________________________ */

.curiosidade {
    background-image: url(imgs/nqa\ cadeiras.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 600px;
    flex-direction: column;
    align-items: center;
}


.curiosidade #gerarCuriosidade {
    margin: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: darkslateblue;
    cursor: pointer; 
}



.curiosidade .boxCuriosidade {
    display: none; 
    margin-top: 100px;
    padding: 200px;
    background-color: white;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

/* __________________________________DASHBOARD__________________________________ */


/* NAVBAR LATERAL */
.janela {
  display: flex;
  width: 100vw;
  background-color: #161618;
}

.janela .header-left a {
  text-decoration: none;
  color: white;
}

.janela .header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  border-right: 3px solid white;
  background-color: black;
}

.janela .header-left h1 {
  color: white;
}

.janela .hello {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
}

.janela .hello h3 {
  color: aliceblue;
  font-weight: 300;
  font-size: 1.2rem;
}

.janela .hello h3 span {
  font-weight: 800;
}

/* .janela .btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.janela .btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
} */

/* .janela .btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
} */

.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.janela .btn-logout {
  width: 30%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  /* margin-bottom: 100px; */
  cursor: pointer;
  margin-top: 10px;
  
}

/* CONTEÚDO*/
.conteudoDash {
  margin-left: 15%;
  width: 85%;
  padding: 40px 20px;
  background-color: azure;
  min-height: 100%;
  box-sizing: border-box;
}

.containerDash {
  text-align: center;
  color: white;
}

/* .containerDash .enunciado h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 30px;
} */

/* KPIs */
.containerDash .div_indicadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.containerDash .indicador {
  background-color: grey;
  color: white;
  border: solid 3px black;
  border-radius: 10px;
  width: 350px;
  padding: 20px;
  margin: 10px;
}

/* Gráficos */
.containerDash .linhaGrafico {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
}

.containerDash .grafico {
  background-color: grey;
  width: 45%;
  height: 500px;
  padding: 20px;
  border: solid 3px black;
  border-radius: 10px;
  color: white;
}

/* .containerDash .graficoUnico {
  background-color: red;
  width: 90%;
  padding: 20px;
  border: solid 5px white;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
} */